<h1>Welcome to Kiez Burn 2019!</h1><br>
<br>
We are so happy you will participate. The two most important ways to participate are:<br>
<br>
1) Spend your Dream Tokens on projects in the Dreams Platform (or create a project yourself!)<br>
2) Sign-up for a volunteer shift or two.<br>
<br>
<h2>Dreams</h2><br>
<br>
Briefly, this year we are utilizing the Dreams Platform to help allocate money to projects for Kiez Burn.<br>
<br>
As a ticket holder, you get 10 tokens to spend on projects. By using your tokens on projects you care about, you help shape Kiez Burn as an event. You can register at dreams.kiezburn.org with the email address you used to purchase your ticket, and you can see projects that are open for voting!<br>
<br>
Remember to SPEND YOUR TOKENS before 30 April, otherwise they will be reappropriated.<br>
You can <%= link_to 'register here', new_user_registration_url =%> and distribute the tokens.<br>
<br>
Join the conversation on Talk: https://talk.kiezburn.org/d/XuQfkgMY/how-to-vote-for-dreams<br>