<html>
<head>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Amatic+SC|Luckiest+Guy|Lato:300');

    body {
      margin: 0px;
      padding: 0px;
      font-family: 'Lato','Open Sans', sans-serif;
      background: whitesmoke;
      line-height: 1.2;
      font-weight: 300;
    }
    #stage {
      max-width: 768px;
      margin: auto;
    }
    a {
      color: #dd8500;
      font-weight: bold;
      text-decoration: none;
    }
    h1 {
      margin-bottom: 20px;
      font-size: 2.5em;
      text-align: center;
      font-family: 'Luckiest Guy', sans-serif
    }
    h2 {
      padding: 10px;
      display: flex;
      align-items: center;
      font-size: 2.5em;
      height: 100px;
      margin: 0;
      font-family: 'Amatic SC', sans-serif;
    }
    .topic {
      min-height:100px;
      max-width: 687px;
      margin-bottom:30px;
      padding: 10px;
    }
    .icon {
      float: left;
      height:100px;
      width:100px;
      padding: 10px;
    }
    img {
      max-width: 100%;
    }
    .intro {
      width: 60%;
      text-align: center;
      margin: auto;
      font-style: italic;
      padding: 10px;
    }

    /*
    body .topic:nth-child(even) {
      float: right !important;
    }
    body .topic:nth-child(odd) {
      float: left !important;
    }*/
    li {
      /* width: 40%; */
      /* font-size: 1.8em; */
      /* list-style-type: none; */
      padding: 10px;
      /* text-align: center; */
      font-weight: bold;
      /* text-transform: uppercase; */
    }

    footer {
      font-size: 0.8em;
      text-align: center;
      max-width: 400px;
      clear: both;
      margin: auto;
    }
    /*
    ol li:nth-child(even) {
      float: right !important;
    }
    ol li:nth-child(odd) {
      float: left !important;
    }*/

    .center {
      text-align: center;
      line-height: 1.5;
      margin-top: 10px;
    }

    .more {
      display: block;
      background: #fffbee;
      text-align: center;
    }

    .more a {
      margin: 10px;
      padding: 10px;
      text-decoration: none;
      display: block;
    }

    .precom {
      text-align: center;
      margin: auto;
    }

    .vspace {
      height: 40px;
    } 
  </style>
</head>
<body>
<div id="stage">
  <img id="himg" src="https://kiezburn.org/mail/himg.png">
    <h1>Welcome to Kiez Burn 2019</h1>
    <div class="intro">
      You are now entering the Kiez Burn Universe.<br><br>
      Kiez Burn is founded on
      <a href="https://kiezburn.org/home/about/11-principles/">11 Principles</a>, which help guide our community.
      These principles together with your creative mind and body will make what it is.
      In the following text we will tell you, how you may become a creator of our cultural gathering. 
      <br><br>
      We are happy to have you =)

      <!--<div class="center">
        1. Create a Dream or spend your Dream Tokens<br>
        2. Sign-up for a volunteer shift (or two ;)<br>
      </div>-->    
    </div>
  <div class="vspace"></div>
  <div class="topic">
    <img src="https://kiezburn.org/mail/dream.png" class="icon">
    <h2 style="margin-left: 130px;">Realizing Wild Dreams</h2>

    <p>We are happy to announce that this year we are using the <i>Dreams Platform</i> to make all our projects and art installations come true! This can be used to help allocate funds for many exciting projects. As a ticket holder, you will each get 10 tokens, which can be used to vote for your favorite Dream(s). By voting, <i>you</i> are shaping Kiez Burn as a participatory cultural event and turn dreams into realities. <a href="https://talk.kiezburn.org/d/XuQfkgMY/how-to-vote-for-dreams">How to Vote for Dreams</a>.</p>

    <p>Want to bring something to Kiez Burn yourself? Of course, you may also get your own dreams funded! <a href="https://talk.kiezburn.org/d/IfeZXG9a/manual-for-dreamers-read-this-if-you-want-to-submit-a-dream">How to create a Dream</a>.</p>

    <p>You can and really should register at <a href="http://dreams.kiezburn.org/">Dreams.Kiezburn.org</a> with the <i>email address you used to purchase your ticket</i> and spend your tokens on awesome stuff! But you must do it before April 30th, otherwise they might turn into bursting bubbles.</p>

    <p class="more"><a href="https://dreams.kiezburn.org/users/sign_up">Sign Up on Dreams</a></p>
  </div>
  <div class="topic">
    <img src="https://kiezburn.org/mail/deer.png" class="icon">
    <h2>VolunDeering is Sexy!</h2>
    <div>
      <p>Kiez Burn is a 100% volunteer run event &mdash; we all put in our time and energy to make the magic happen. Volunteering is the best way to get involved and everyone is expected to sign-up and be present for 1 or 2 shifts during the event. Gate, Rangers, LNT, Welfare, Build &mdash; these are just a few of the groups that keep the event running smoothly. Without your help these things can't happen. Note: Volunteering is fun.</p>

      <p class="more"><a href="https://talk.kiezburn.org/d/VH8dRAUZ/get-involved-open-projects-roles">Information on how to get involved</a></p>
    </div></div>
  <div class="topic">
    <img src="https://kiezburn.org/mail/orient.png" class="icon">
    <h2>Form or Join a Kiez</h2>
    <p>The principle of radical self-reliance means you have to bring everything you could possibly need for the event: fun, self-expression, learning and community with you to site (food, drinks, tents, chill out spaces, workshops, art, entertainment, clean up).</p>

    <p>Kieze are camps which bring together like-minded people to create, share and gift back to the community. We highly recommend that you join a Kieze, or create one yourself.</p>

    <p>See which <a href="https://kiezburn.org/camps/kieze-2019/">Kieze have already registered</a> their camps for 2019.</p>

    <p class="more"><a href="https://talk.kiezburn.org/g/ayDrb97A/kieze">More information on Kieze</a></p>
  </div>
  <div class="topic">
    <img src="https://kiezburn.org/mail/talk.png" class="icon">
    <h2>What's all the TALKing about?</h2>
    <p>Talk is where all the conversations are happening regarding Kiez Burn. It might seem overwhelming at first, but you can navigate to public groups and join conversations in Threads that interest you. We recommend at a minimum you join <a href="https://talk.kiezburn.org/g/JVNW8EpX/kiez-burn-2019-planning">Kiez Burn 2019 Planning</a> Group.</p>

    <p class="more"><a href="https://talk.kiezburn.org/d/4632pc0x/getting-started-with-talk-">Getting Started with Talk</a></p>
  </div>
  <!--
  <div class="topic">
    <img src="https://kiezburn.org/mail/survive.png" class="icon">
    <h2>The Guide to Survive</h2>
    <p>Do you have your packing list? Know how to get to site? Did you realize that nothing is bought or sold on site? Get prepared with the Survival Guide.</p>
  </div>
  -->

  <div class="topic">
    <h2>Precompression on April 12th at Birgit & Bier</h2>
    <img class="precom" src="https://kiezburn.org/mail/kb19_precom.jpg">
    <p>The Precompression is an opportunity to get a taste of Kiez Burn before the event. Come by, bring your friends and meet other Kiez Burners!</p>
    <p class="more"><a href="https://www.facebook.com/events/368126540436104/">Join the Event on Facebook</a></p>
  </div>
  <div class="topic">
<footer>
  <p>You are receiving this email because you are awesome. And because you bought a ticket for Kiez Burn 2019.<br>We promise
  you wont get any spam, and we'll never release your data to any third parties outside of the Kiez Burn Universe.</p>
  <p><a href="https://t.me/kiezkanal">Join the unofficial Kiez Burn news aggregator.</a></p> 
  <p>
  Our mailing address is:
  <br>
  Kiez Burn e.V.i.G<br>
  c/o Franziska Sedlak<br>
  Bänschstr. 83<br>
  10247 Berlin<br>
  Germany<br>
  <br>
  Copyright (C) 2018 Kiez Burn e.V.i.G.<br>All rights reserved.</p>
</footer>
  </div>
</div>
</body>

<img src="https://analytics.kiezburn.org/matomo.php?idsite=2&amp;rec=1" style="border:0" alt="" />
</html>
<html>