<style>
h2 {
  font-weight: bold;
  padding: 20px 0px;
}

h3 {
  font-weight: bold;
  padding: 20px 0px;
}
</style>
<div class="row">
<h1>FAQ</h1>
<p>&nbsp;</p>
<ul>
<li><a href="#1">What is the dreams platform?</href></li>
<li><a href="#2">Why did we go with the Dreams Platform?</href></li>
<li><a href="#3">What are the Dream Guides?</href></li>
<li><a href="#4">What kind of dreams can receive funding?</href></li>
<li><a href="#5">Is there a minimum/maximum Euro amount for a Dream to be registered on the platform?</href></li>
<li><a href="#6">I have an infrastructure grant, but I need my minimum funded, what is up.</href></li>
<li><a href="#7">How much money is one vote/token?</href></li>
<li><a href="#8">Do I get 100% of my funding refunded or do I, like last year, only get 70% of my costs refunded?</href></li>
<li><a href="#9">My dream is quite expensive. Do you offer pre-funding?</href></li>
<li><a href="#10">What if I don't receive an art grant?</href></li>
<li><a href="#11">Do I automatically get a ticket when my dream receives an art grant?</href></li>
<li><a href="#12">Can I have more than one dream?</href></li>
<li><a href="#13">Once my dreams grant has been voted for, how do I get my money from the dreams grant?</href></li>
<li><a href="#14">As a lead of for e.g. Water or Power, how do I know which projects need water/power and how do I get in touch with the artists?</href></li>
<li><a href="#15">I cannot vote right now, what's up with that?</href></li>
<li><a href="#16">How many votes does everyone get and how can people distribute their votes? Can I give all votes to myself?</href></li>
<li><a href="#17">What happens with leftover credits (aka "money") if a dream didn't reach its funding goal and/or if participation levels are low?</href></li>
<li><a href="#18">I need help, who can I contact?</href></li>
<li><a href="#19">Who created this magnificent piece of art called the "Dreams platform"?</href></li>
</ul>
<hr>
<h3>ABOUT THE DREAMS PLATFORM</h3>
<h2 id="1">What is the dreams platform?</h2>
<p>The Dreams platform is a place where anybody planning to attend Kiez Burn can apply for funding for any project. This includes Kieze, artists or event-production projects. As soon as ticket sales starts, ticket holders will decide where the money they just paid, will go to.</p>
<h2 id="2">Why did we go with the Dreams Platform?</h2>
<p>Because Dreams are fun! Taking decentralisation and self-organisation seriously, we decided to distribute art grants this year via the <a href="http://dreams.kiezburn.org/">Dreams platform</a>. It works pretty much like Kickstarter, Startnext, Betterplace, GoFundMe etc.</p>
<p>The Dreams platform is a powerful way of engaging the wider community to interact directly with the artists and art on the event. You will decide how your ticket revenue is being used! This also unburdens the central organisation from decision-making. In addition, it allows for an easier application process and a more transparent distribution system.</p>
<p>Our goal for this platform would not be limited to art grants, but can also function as a budget decision tool for more structural topics, such as gate or welfare.</p>
<p>This might radically change the way we do funding at Kiez Burn &ndash; now, the community decides what kind of dreams will get funded!</p>
<h2 id="3">What are the Dream Guides?</h2>
<p>Dream Guides are volunteers who co-create the event by guiding dreamers to make their projects happen and facilitate the art grant process at Kiez Burn on the Dreams platform. If you want to help other Burners to make their dreams come true &ndash; please join the team! We still need support here.</p>
<h3>HOW TO GET STARTED</h3>
<ul>
<li>If you are attending Kiez Burn 2019, please register an account on <a href="http://dreams.kiezburn.org/">dreams.kiezburn.org</a> with the same email you used when buying a ticket. VERY IMPORTANT: Please use exactly the same email addresses for Burner Tickets (where you bought your Kiez Burn ticket) and Dreams (our art grant platform) &ndash; if they don't match, we can't verify that you own a ticket and you will receive no tokens to spend on art projects!</li>
<li><strong>Private area:</strong> Fill out your profile (email, phone, messenger info) so you can be notified and contacted easily.</li>
<li><strong>Create a dream: </strong>Now you can create a <a href="https://dreams.kiezburn.org/dreams/new">Dream</a> or join an existing one!
<ul>
<li>The platform just distributes the art grants (funding). It still requires some effort to make the dream happen!</li>
<li>specify a minimum funding goal (the money you need to realize your dream in the cheapest way) and a maximum funding goal (the money you need to make it really awesome!)</li>
<li>Describe your dream as lucid as possible! Use images.</li>
<li>Specify how loud your dream is going to be, how much space it requires etc.</li>
</ul>
</li>
<li><strong>How can I help: </strong>Voting for Dreams will be possible once Tickets go on sale on 1 April. If you want to join an existing project or to contact a project manager, click "Add my name".</li>
</ul>
<h3>CREATING A DREAM</h3>
<h2 id="4">What kind of dreams can receive funding?</h2>
<p>As long as your project is publicly accessible, it can receive an art grant. So the closed-off space in your camp cannot host anything funded with the dreams platform. However, your dancefloor or yoga-yurt where you regularly welcome people in, can get funding through the Dreams platform. Intoxicants (this includes alcohol), vehicle costs and fines for illegal acts cannot be refunded.</p>
<h2 id="5">Is there a minimum/maximum Euro amount for a Dream to be registered on the platform?</h2>
<p>There is no minimum. Go ahead and upload your crazy idea for the world to see even if you do not want any money. The maximum amount of money you can receive through the dreams platform is set at 2.000 &euro; (except for infrastructural projects).</p>
<h2 id="6">I have an infrastructure grant, but I need my minimum funded, what is up.</h2>
<p>The minimum amount for critical infrastructure &ndash; example: Electricity &ndash; will be funded outside of the Dreams platform. Other infrastructure dreams will be assured a minimum on the dreams platform, like toilets. We are sure you all want to shit in style, so let's all vote for fantastic toilets!</p>
<p>Your <strong>Minimum</strong> is the amount of money you NEED in order to bring the project. Once your project collected enough votes to pass the minimum threshold, you will be notified, and your project is sure to receive funding.</p>
<p>Your <strong>Maximum</strong> is how much you need to realize the perfect version of your project. Any money you receive after having passed the minimum can be used for your project.</p>
<h2 id="7">How much money is one vote/token?</h2>
<p>Although every vote does count for a certain monetary value, we cannot determine at this point yet how much every vote will be worth. You can follow the discussion on the topic here: https://talk.kiezburn.org/d/yXHK7O3n/token-value-</p>
<h2 id="8">Do I get 100% of my funding refunded or do I, like last year, only get 70% of my costs refunded?</h2>
<p>Yup! 100% refund for 100% costs (if you received a notification of funding)! We realized the folly of complex rules. YOU ONLY GET A REFUND WITH PROPER RECEIPTS (vive la bureaucracy!)</p>
<h2 id="9">My dream is quite expensive. Do you offer pre-funding?</h2>
<p>Please talk to your dream guide.</p>
<h2 id="10">What if I don't receive an art grant?</h2>
<p>You can still bring your project (if it doesn't violate our principles). Think of alternative ways of funding! Maybe with a little help from your friends? Also: we will need to distribute the un-used tokens, so your project might still get all the money it needs!</p>
<h2 id="11">Do I automatically get a ticket when my dream receives an art grant?</h2>
<p>No. However, if you have issues with not having a ticket, please talk to your dream guide.</p>
<h2 id="12">Can I have more than one dream?</h2>
<p>Yes! Go wild! However, please keep in mind that you need to reach the minimum in order to qualify for any dream grant. Thus, the more projects you create on the platform, the more you will need to work to achieve the minimum on the different projects.</p>
<p>Can I edit/delete my dream?</p>
<p>dreamers can edit all fields after submission, except for the min/max budget. If you want to edit your budget requirements, please write in the dreams talk group to ask for a change: <a href="https://talk.kiezburn.org/g/SAqXnukc/dreams">https://talk.kiezburn.org/g/SAqXnukc/dreams</a></p>
<h2 id="13">Once my dreams grant has been voted for, how do I get my money from the dreams grant?</h2>
<p><strong>Step 1:</strong> Make it happen at Kiez Burn. If it does not happen, there will not be a refund.</p>
<p><strong>Step 2:</strong> Therefore, we would like to ask you to take a picture of your project at Kiez Burn, and upload it to the platform to document how your Dreams became true.</p>
<p><strong>Step 3:</strong> Keep all the receipts and hand these in. You will then get refunded.</p>
<h2 id="14">As a lead of for e.g. Water or Power, how do I know which projects need water/power and how do I get in touch with the artists?</h2>
<p>All artists are required to provide this information when creating a Dream. Our tech team will export the contact information and help you connecting with each other!</p>
<h3>VOTING FOR DREAMS</h3>
<h2 id="15">I cannot vote right now, what's up with that?</h2>
<p>Voting will be opened after the beginning of ticket sales, on 1 April.</p>
<h2 id="16">How many votes does everyone get and how can people distribute their votes? Can I give all votes to myself?</h2>
<p>Haha, you wish! You need to save some for your friends and beautiful strangers. Every ticket holder will receive 10 votes. So you can spend max. 50% on a single dream &ndash; that's 5 tokens.</p>
<h2 id="17">What happens with leftover credits (aka "money") if a dream didn't reach its funding goal and/or if participation levels are low?</h2>
<p>Leftover tokens will be distributed to the projects who did not get enough funding. How exactly this will happen will be discussed in the future.</p>
<h2 id="18">I need help, who can I contact?</h2>
<p>Our Dream Guides are there for you.</p>
<h2 id="19">Who created this magnificent piece of art called the "Dreams platform"?</h2>
<p><a href="https://dreams.kiezburn.org/pages/humans">Click on me to find out. </a>This is based on the <a href="https://dreams.kiezburn.org/pages/humans">amazing work from Borderland &amp; Midburners</a> who built it.</p>
<p>&nbsp;</p>

</div>
